:root {
    font-size: 62.5%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --background-primary: #eeeeee;
    --background-secondary: #dddddd;
    --button-primary: #F1C40F;
    --text-primary: #222222;
    --text-secondary: #000000;
    --icon-primary: #ff8c00;
}
a {
    color: var(--text-primary);
}
h1, h2, h3 {
    color: var(--text-secondary);
}
body {
    background-color: var(--background-primary);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.6rem;
    color: var(--text-primary);
}

/* Nav */
.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav__logo {
    padding: 2rem 0 2rem 0;
}
.nav__links {
    margin: auto;
    text-align: center;
    width: 70%;
}
.nav__links ul {
    list-style-type: none;
}
.nav__links a {
    display: inline-block;
    padding: 1rem 3rem;
    font-size: larger;
    text-decoration: none;
}

/* Main */
.main {
    width: 90%;
    margin: auto;
}


/* Hero */
.hero {
    text-align: center;
}
.hero__title {
    font-size: 2.4rem;
    padding: 3rem 0 2rem 0;
}
.form__email {
    display: block;
    margin: auto;
    width: 50%;
    box-sizing: border-box;
    border-radius: 0.5rem;
    border: 1px solid gray;
    font-size: 1.6rem;
    padding: 0.6rem;
    margin-bottom: 1.6rem;
}
.form__submit {
    display: block;
    margin: auto;
    background-color: var(--button-primary);
    font-weight: bold;
    font-size: 1.6rem;
    text-transform: uppercase;
    border-radius: 0.5rem;
    border: none;
    padding: 0.6rem 1.2rem;
    box-sizing: border-box;
}

/* Features */
.features {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: auto;
    padding-top: 8rem;
}
.feature-card__icon {
    justify-self: center;
    color: var(--icon-primary);
    font-size: 4.8rem;
}
.feature-card__description {
    padding: 0 0 4rem 0;
}
.feature-card__description p {
    margin-top: .2rem;
    line-height: 2.6rem;
}

/* How it works (video) */
.how-it-works {
    max-width: 560px;
    width: 100%;
    margin: auto;
    padding-top: 3rem;
    padding-bottom: 6rem;
}
.how-it-works iframe {
    max-width: 560px;
    width: 100%;
}

/* Products */
.products {
    display: grid;
    grid-template-columns: auto;
    column-gap: 1.5rem;
    /* width: 98%; */
    margin: auto;
    padding-bottom: 5rem;
}
.product-card {
    border: 1px solid black;
    text-align: center;
    margin-bottom: 3rem;
}
.product-card__title {
    background-color: var(--background-secondary);
    padding: 1rem;
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
}
.product-card__price {
    font-size: 2.5rem;
    font-weight: 600;
    padding: 1rem;
}
.product-card__text {
    line-height: 2.8rem;
    list-style-type: none;
}
.product-card__button {
    display: inline-block;
    text-decoration: none;
    color: var(--text-primary);
    background-color: var(--button-primary);
    border: none;
    text-transform: uppercase;
    padding: 0.8rem 2.2rem;
    margin: 2rem;
}

/* Footer */
.footer {
    max-width: 1000px;
    width: 100%;
    background-color: var(--background-secondary);
    padding: 2rem;
    text-align: right;
    margin: auto;
}
.footer-nav__links {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    width: 20rem;
    margin-left: auto;
    font-size: 1.5rem;
}
.footer-nav__links a {
    text-decoration: none;
    color: var(--text-primary);
}
.footer__copyright {
    font-size: 1.4rem;
    opacity: 0.6;
    padding-top: 0.6rem;
}

/* For large screens */
@media screen and (min-width: 700px) {
    .nav {
        flex-direction: row;
        justify-content: space-between;
        padding: 2rem 3rem;
        background-color: var(--background-primary);
    }
    .nav__links {
        margin: 0;
        width: auto;
    }
    .nav__links li {
        display: inline;
    }
    .nav__links a {
        display: inline;
        padding: .5rem 1rem;
        margin: 0 0 0 1rem;
        font-size: larger;
        text-decoration: none;
    }
    .nav__links a:hover {
        color: var(--text-secondary);
    }
    .fixed-top {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }
    .main {
        max-width: 80rem;
    }
    .hero {
        padding-top: 15rem;
    }
    .products {
        grid-template-columns: auto auto auto;
    }
}